@using Pampa.InSol.Biz.Seguridad

@{
    ViewBag.Title = Pampa.InSol.Common.Recursos.General.TitleAdministracionRoles;
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">@Pampa.InSol.Common.Recursos.General.TitleAdministracionRoles</li>
</ol>

<h4>@Pampa.InSol.Common.Recursos.General.TitleAdministracionRoles</h4>

<div id="filtrosRoles" class="pampa-sections">
    <button class="bnt-filter" type="button" data-toggle="collapse" data-target="#getTarimas"><strong>Filtros</strong></button>
    <div id="getTarimas" class="collapse in">
        <div class="row">
            <div class="col-md-12">
                <div class="filterContent">
                    <div class="k-content col-md-12 notPadding">
                        <ul id="fieldlist">
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <label>Descripción:</label>
                                @(Html.Kendo().TextBox()
                                    .Name("Descripcion")
                                    .HtmlAttributes(new { @class = "form-width" })
                                )
                            </li>
                            <li class="col-md-3 col-sm-6 col-xs-12">
                                <label>Solo Activos:</label>
                                <input type="checkbox" id="Activo" checked="checked" />
                            </li>
                        </ul>
                    </div>
                    <div class="k-content btn-filter col-md-12">
                        @if (Request.HasPermission((int)Security.Funciones.ABM_de_Rol))
                        {
                            @Html.ActionLink(Pampa.InSol.Common.Recursos.General.TitleNuevoRol, "NuevoRol", null, new { @class = "k-button second-button" })
                        }
                        <a id="btnBuscar" class="k-button second-button"><i class="glyphicon glyphicon-search" aria-hidden="true"></i>Buscar</a>
                        <a id="btnLimpiar" class="btnLink">Limpiar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divRoles" class="pampa-section-production">
    <div>
        @(Html.Kendo().Grid<Pampa.InSol.Entities.Models.RolViewModel>()
            .Name("gridRoles")
            .Columns(columns =>
            {
                columns.Bound(c => c.Id)
                    .Visible(false);
                columns.Bound(c => c.Descripcion);
                columns.Bound(c => c.Activo)
                    .ClientTemplate("<input type='checkbox'  name='Activo' #= Activo? checked='checked' : '' # disabled='disabled' />");
            })
            .ToolBar(toolbar =>
            {
                toolbar.Template(@<div class="first-color ">
                    <input type="button" name="name" value="Excel " class="k-button k-primary add-button excel k-grid-excel" />
                </div>);
            })
            .Sortable()
            .Selectable()
            .AutoBind(false)
            .Excel(excel => excel
                .AllPages(true)
                .Filterable(true)
                        .FileName("Roles.xlsx")
            )
            .Events(events => 
            {
                if (Request.HasPermission((int)Security.Funciones.ABM_de_Rol))
                {
                    events.Change("rol_funcion.onSelectedRow");
                }
            })
            .Pageable(pageable => pageable
                .Numeric(false)
                .Input(true)
                .PreviousNext(true))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("Roles_Read", "RolFunciones").Data("rol_funcion.getFilters"))
                .PageSize(10)
            )
            .NoRecords(Pampa.InSol.Common.Recursos.General.NoRecords)
        )
    </div>
</div>

@Scripts.Render("~/bundles/Roles")
<script type="text/javascript">
    $(function () {
        rol_funcion.init(
        {
            chk_activos: "#Activo",
            descripcion_consulta: "#Descripcion",
            div_grilla: "#gridRoles",

            divRoles: '#divRoles',

            //Buttons
            btn_consultar: "#btnBuscar",
            btn_limpiar_pantalla: "#btnLimpiar",
            urlEditarRol: '@Url.Action("Editar")',
        })
    })
</script>
